
body {
  font-family: Source Sans Pro, Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #444;
}

body .container {
  padding-bottom: 4em;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: Proxima Nova, Montserrat, Source Sans Pro, Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover, a:focus {
    background-color: transparent !important;
    text-decoration: none;
    color: #2996cc;
}

a:hover {
  color: #8B8B8B;
}

a:focus {
  color: #2996cc;
}

a.nav-current {
  color: #8B8B8B;
  cursor: default;
}

#navbar {
  font-size: 18px;
}

#navbar a:hover {
  color: #8B8B8B !important;
}

@media screen and (min-width: 768px) {
  .navbar-nav > li > .nav-leftmost {
    padding-left: 0px;
  }
}

.navbar-collapse.collapse {
  display: block !important;}

.navbar-collapse.collapse {
  padding-left: 0px;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-left {
  float: left !important;
}

.about-body {
  margin-top: 50px;
}

.about-body > p {
  font-size: 20px;
  max-width: 550px;
  margin: auto;
  margin-top: 40px;
}

.about-body > .profile-image {
  border: 5px solid #f1f1f1;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: auto;
}

.about-body h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: .01em; }

/* https://gist.github.com/jarv/ec34057d8e8138c8b921 */
.my-fa-linkedin:before {
  content: "\f0e1";
} 

.my-fa-twitter:before {
  content: "\f099";
}

.about-body .contact-icons {
  margin-top: 50px;
  white-space: nowrap;
}

.about-body .contact-icons .fa {
  padding: 0 15px;
}


.section-header {
  padding: 30px 0px 10px 0px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: .03em;
}

.project-title {
  /*color: #2996cc;*/
  font-weight: 600;
  font-size: 20px;
  margin: 40px 0px 15px 0px;
}

.project-description {
  font-size: 16px;
  line-height: 1.8;
}

.project-image {
  margin-top: 2em;
  border: 5px solid #f1f1f1;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 3em;
}

img.project-image-square {
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
  width: 250px;
  height: auto;
  /*height: 250px;*/
}

img.project-image-square {
    -webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;
}

img.project-image-square:hover {
    transform: scale(1.05)
}

.project-image-square-container {
  overflow: hidden;
}

.project-short-title {
    font-family: Proxima Nova, Montserrat, Source Sans Pro, Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0px 10px 0px;
}

.work-item {
  margin: 40px 0px;
}

.work-name {
  color: #2996cc;
  font-size: 24px;
  font-weight: 600;
}

.work-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1em;
}

.work-description {
  font-size: 16px;
}


.col-longform {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-longform > p {
  font-family: 'Alegreya', Georgia, serif;
  line-height: 1.8;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 25px;
  color: #555555;
  letter-spacing: .01em;
}

.col-longform > ol > li {
  display: list-item;
  font-family: 'Alegreya', Georgia, serif;
  line-height: 1.8;
  font-size: 20px;
  color: #555555;
  letter-spacing: .01em;
  margin-left: 2em;
}

.col-longform > h3 {
  padding-top: 40px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.longform-title {
  padding-top: 30px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: .03em;
}

.col-longform > .longform-subtitle {
  font-style: italic;
  font-family: 'Alegreya', Georgia, serif;
  letter-spacing: .03em;
  margin: 15px auto 50px auto;
  color: #777777;
  font-size: 18px;
}

.col-longform > img {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.col-longform > blockquote {
  font-family: Source Sans Pro, Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-longform > blockquote > p {
  padding-bottom: 20px;
}

/* 
 * Center the YouTube embed. From here: 
 * https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
 */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.marvel-wrapper {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .marvel-wrapper {
    position: relative;
    padding-bottom: 100%;
    padding-top: 25px;
    height: 0;
    margin-top: 50px;
  }

  .marvel-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

