.mdl-color--primary {
  background-color: white!important;
}

.mdl-color--primary-dark {
  background-color: white!important;
}

div.mdl-layout--large-screen-only.mdl-layout__header-row {
  height: 24px;
}

.title > h2{
  color: #424242; /* Grey */
}

.mdl-card__supporting-text > p {
  font-size: 18px;
  line-height: 28px;
}

.mdl-layout.is-upgraded .mdl-layout__tab.about {
  color: #40C4FF; /* Blue */
}

a.mdl-layout__tab.is-active.about::after {
  background-color: #40C4FF!important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.work {
  color: #FFCA28; /* Amber */
}

a.mdl-layout__tab.is-active.work::after {
  background-color: #FFCA28!important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.projects {
  color: #FF7043; /* Deep orange */
}

a.mdl-layout__tab.is-active.projects::after {
  background-color: #FF7043!important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.other {
  color: #00E676; /* Green */
}

a.mdl-layout__tab.is-active.other::after {
  background-color: #00E676!important;
}

.mdl-layout.is-upgraded .mdl-layout__tab {
  color: #757575; /* Gray */
}

a.mdl-layout__tab.is-active.projects::after {
  height: 500px;
}

a {
  text-decoration: none;
}

#about a {
  color: #40C4FF;
}

#projects a {
  color: #FF7043;
}

#work a, #work h4 {
  color: #40C4FF;
}

#other a, #other h4 {
  color: #00E676;
}

.main-picture {
  background: url("./images/cape-point.JPG") no-repeat center 0;
  background-position: left top;
  background-size: 100% auto;
  width: 100%;
  height: 320px;
}

.mdl-demo section.section--center {
  max-width: 840px;
}

.mdl-demo .mdl-layout__tab-bar {
  padding: 0px;
}

.mdl-demo .mdl-layout__header-row {
  padding-left: 0px;
}

.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 10px;
}

.section__text > p {
  padding-bottom: 30px;
}

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  font-size: 20px;
  padding-bottom: 8px;
  margin-bottom: 0px;
}

.mdl-demo.mdl-demo .mdl-card__supporting-text h5 {
  font-size: 16px;
}

.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: none;
}

.mdl-demo main > .mdl-layout__tab-panel {
  padding-bottom: 48px;
}

.mdl-mega-footer {
  background-color: #424242;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
  display: inline-block;
}

.email-text {
  font-family: Inconsolata, monospace;
  color: white;
  display: block;
  margin: 14px auto;
}

.mdl-cell.mdl-cell--12-col.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
