html, body {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	height: 100%;
}

h1 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-family: 'Nunito', sans-serif;
}

.small {
	font-size: 80%;
}

#resulttext { 
	font-size: 20px;
}

.band {
	width: 24px;
	height: 46px;
	margin: 0px;
	display: inline-block;
	position: relative;
	top: 40px;
	left: -6px;
	background-image: url("unknown_color.png");
	background-position: center;
	z-index: -1; 
}

.band.tol {
    position: absolute; 
	width: 19px;
	height: 62px;
	left: 200px;
	top: 32px;
}

.black { background-color: black; background-image: none; }
.brown { background-color: brown; background-image: none; }
.red { background-color: red; background-image: none; }
.orange { background-color: orange; background-image: none; }
.yellow { background-color: yellow; background-image: none; }
.green { background-color: green; background-image: none; }
.blue { background-color: blue; background-image: none; }
.purple { background-color: purple; background-image: none; }
.gray { background-color: gray; background-image: none; }
.white { background-color: #eeeeee; background-image: none; }

.tol.gold { background-color: #B59F0E; background-image: none; }
.tol.silver { background-color: silver; background-image: none; }
.tol.red { background-color: red; background-image: none; }

.container {
	position: relative; 
	width: 300px;
	height: 150px;
	/* from http://d3i5bpxkxvwmz.cloudfront.net/resized/images/remote/http_s.eeweb.com/
	 * members/andrew_carter/blog/2011/10/24/single-resistor-1319476226_366_150_75.jpg  */
	background-image: url("resistor.png");
	background-repeat: no-repeat;
	background-size: 300px;
	margin-left: auto;
	margin-right: auto;
}